<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card  id="cards">
    <img [src]="imagem" *ngIf="imagem" />

  </ion-card>
  
  <form>
    <ion-card>
      <ion-badge color="success">{{interprete.status}}</ion-badge>



      <ion-item>
        <ion-label>CEP: </ion-label>
        <ion-input readonly="readonly"> {{interprete.cep}} </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>NOME: </ion-label>
        <ion-input readonly="readonly"> {{interprete.nome}} </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Estado:</ion-label>
        <ion-input readonly="readonly"> {{interprete.estado}} </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Cidade:</ion-label>
        <ion-input readonly="readonly"> {{interprete.cidade}} </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Telefone:</ion-label>
        <ion-input readonly="readonly"> {{interprete.telefone}} </ion-input>
      </ion-item>

      
    </ion-card>




    <!--<ion-button expand="block" (click)="excluir(cliente)" color="danger">
  <ion-icon name="trash-outline"></ion-icon>
</ion-button>
<ion-button expand="block" (click)="atualizar(cliente)" color="primary">
  <ion-icon name="clipboard-outline"></ion-icon>
</ion-button>
-->
  </form>
   <!-- Botões-->
   <section class="buttonsContact">
    <header id="contato">Entrar em contato</header>


    <ion-button (click)="detalhe()" size="default" color="primary">
      Agendar
     
    </ion-button>

    <ion-button href={{zap(url)}}  size="default" color="success">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-button>
  </section>

</ion-content>